@import "../../assets/styles/globalStyles.scss";
.personCard {
  width: 350px;
  height: 220px;
  border: 1px solid $bordersColor;
  border-radius: 25px;
  display: grid;
  grid-template-columns: 50% 50%;
  margin: 15px;
  background: linear-gradient(
    $themeBsColor,
    transparent,
    $themeBsColor,
    transparent,
    $themeBsColor
  );
  transition: 1s;
  position: relative;
  overflow: hidden;
  .personCard__cardVisibility {
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    font-size: 2em;
    background-color: transparent;
    background-image: url(../../assets/images/paddingAw.png);
    background-size: cover;
    transition: 0.2s;
    cursor: pointer;
    &:hover {
      box-shadow: 0 0 5px white;
    }
  }
  .personCard__avatar {
    margin: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
    img {
      width: 150px;
      height: 150px;
      padding: 5px;
      margin-bottom: 10px;
      border-radius: 75px;
      background-color: rgb(158, 139, 243);
      cursor: pointer;
      transition: 0.2s;
      &:active {
        transform: scale(0.98);
      }
    }
  }
  .personCard__descrip {
    margin: 5px;
    padding: 10px;
    position: relative;
    .descrip__Items {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .descrip__Edit {
        font-size: 1.5em;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
      .sentBtn {
        width: 25px;
        height: 25px;
        background-color: transparent;
        color: $textContentColor;
        border: 1px solid $bordersColor;
        border-radius: 5px;
        margin-left: 5px;
        transition: 0.2s;
        &:hover {
          box-shadow: 0 0 5px 5px $themeTsColorSelection;
          cursor: pointer;
        }
        &:active {
          transform: scale(0.9);
        }
      }
      .descrip__active {
        background-color: transparent;
        color: $textContentColor;
        font-size: 1.5em;
        border: 1px solid $bordersColor;
        border-radius: 10px;
        padding: 0 5px;
        text-align: center;
        transition: 0.2s;
        &:hover {
          cursor: pointer;
          box-shadow: 0 0 10px 2px $themeTsColorSelection;
        }
      }
      .descrip__activeBtns {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        top: 15px;
        right: 10px;
      }
    }
    ul {
      .descrip__ageEdit {
        width: 50px;
        background-color: transparent;
        border: 1px solid $bordersColor;
        border-radius: 3px;
        padding: 2px;
        color: $textContentColor;
      }
    }
  }
}
