@import "../../assets/styles/globalStyles.scss";
.personCard {
  border: 1px solid $bordersColor;
  border-radius: 25px;
  display: grid;
  grid-template-columns: 50% 50%;
  margin: 5px;
  background: linear-gradient(
    $themeBsColor,
    transparent,
    $themeBsColor,
    transparent,
    $themeBsColor
  );
  .personCard__avatar {
    margin: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
    .avatar__name {
      padding: 10px;
    }
    .avatar__nameEdit {
      width: 150px;
      height: 15px;
      color: $textContentColor;
      background-color: transparent;
      border: 1px solid $bordersColor;
      border-radius: 3px;
      padding: 10px;
      margin: 5px 0;
    }
    .vision {
      display: none;
    }
    img {
      width: 150px;
      height: 150px;
      padding: 5px;
      cursor: pointer;
      transition: 0.2s;
      &:active {
        transform: scale(0.98);
      }
    }
  }
  .personCard__descrip {
    margin: 5px;
    padding: 10px;
    position: relative;
    div {
      display: flex;
      justify-content: space-between;
      align-items: center;
      span {
        font-size: 1.5em;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
      .sentBtn {
        width: 25px;
        height: 25px;
        background-color: transparent;
        color: $textContentColor;
        border: 1px solid $bordersColor;
        border-radius: 5px;
        margin-left: 5px;
        transition: 0.2s;
        &:hover {
          box-shadow: 0 0 5px 5px $themeTsColorSelection;
          cursor: pointer;
        }
        &:active {
          transform: scale(0.9);
        }
      }
      .descrip__active {
        background-color: transparent;
        color: $textContentColor;
        font-size: 1.5em;
        border: 1px solid $bordersColor;
        border-radius: 10px;
        padding: 0 5px;
        text-align: center;
        transition: 0.2s;
        &:hover {
          cursor: pointer;
          box-shadow: 0 0 10px 2px $themeTsColorSelection;
        }
      }

      .descrip__activeBtns {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        top: 15px;
        right: 10px;
        .activeBtn__edit {
          width: 25px;
          height: 25px;
          border: 1px solid $bordersColor;
          border-radius: 13px;
          color: $textContentColor;
          font-size: 1.5em;
          display: flex;
          justify-content: center;
          align-content: center;
          background-image: url(../../assets/images/editBtn.png);
          background-repeat: no-repeat;
          background-size: cover;
          background-position: center center;
          cursor: pointer;
          &:hover {
            box-shadow: 0 0 10px 2px $themeTsColorSelection;
          }
        }
        .activeBtn__delete {
          width: 25px;
          height: 25px;
          border: 1px solid $bordersColor;
          border-radius: 13px;
          color: $textContentColor;
          font-size: 1.2em;
          display: flex;
          justify-content: center;
          align-content: center;
          cursor: pointer;
          background-color: transparent;
          margin-top: 5px;
          &:hover {
            box-shadow: 0 0 10px 2px $themeTsColorSelection;
          }
        }
      }
      .vision {
        display: none;
      }
    }
    ul {
      .descrip__ageEdit {
        width: 50px;
        background-color: transparent;
        border: 1px solid $bordersColor;
        border-radius: 3px;
        padding: 2px;
        color: $textContentColor;
      }
      li {
        list-style-type: none;
      }
    }
  }
}
