:root {
  --themeColor: yellowgreen;
  --colorRange: white;
}
$themeBsColor: var(--themeColor);
$rangeColors:var(--colorRange);
$themeTsColorMain: blue;
$themeTsColorSelection: white;
$textContentColor: white;
$bg: black;
$bordersColor: white;
