@import "../../../assets/styles/globalStyles.scss";
.characters__item {
  margin-bottom: 7px;
  list-style-type: none;
  position: relative;
  .characters__editRange {
    width: 150px;
    background-color: transparent;
    color: $textContentColor;
    border: 1px solid $bordersColor;
    padding: 1px;
  }
  .cardEdit {
    width: 80%;
  }
  .item__textName{
    color: $textContentColor;

  }
  .item__text {
    color: $textContentColor;
  }
}
.nameItem{
  display:flex;
  flex-direction: column;
}
